<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="/js/admin_menu_add.js"></script>
  <title>관리자 - 메뉴 추가</title>
</head>
<body>


<form action="/admin/Add" method="post" enctype="multipart/form-data">
  <div><input type="hidden" name="_csrf" th:value="${_csrf.token}"/></div>

  <div>
    <label >메뉴명:</label>
    <input type="text" name="menuname"><br>
  </div>

  <div>
    <label >가격  :</label>
    <input type="number"name="Price" step="1"><br>
  </div>

  <div>
    <img id="previewImage" src="/img/wait.png" style="width:250px; height:250px;" >
  </div>

  <div>
    <input type="file" id="imageInput" name="image" onchange="onAddMenuImgChange()">
    <input type="submit" value="등록">
  </div>

</form>

</body>
</html>