<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="order-list-bar">
    <div class="order-list-bar">
        <div class="order-list-bar-content">
            <div class="order-list-bar-left">
                <a class="return-btn" href="#" onClick="history.back()">
                    ←
                </a>
                <span class="order-list-bar-title">
                    주문내역
                </span>
            </div>
        </div>
    </div>
</th:block>

</html>