<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="store-tab">
  <div class="store-tab">
    <ul class="store-tab-content">
      <li class="tab1"><a th:href="@{/store/100}">패스트푸드</a></li>
      <li class="tab2"><a th:href="@{/store/200}">중식</a></li>
      <li class="tab3"><a th:href="@{/store/300}">치킨</a></li>
      <li class="tab4"><a th:href="@{/store/400}">한식</a></li>
      <li class="tab5"><a th:href="@{/store/500}">양식</a></li>
    </ul>
  </div>
</th:block>

</html>