<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>매장목록</title>

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <link th:href="@{/css/search_bar.css}" rel="stylesheet" />
    <link th:href="@{/css/store.css}" rel="stylesheet" />
    <link th:href="@{/css/store_list.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/webSocket_connect.js"></script>

</head>

<bar>
    <div th:replace="~{/store/search_bar.html :: search-bar}"></div>
</bar>

<body>

<div class="searchList">
    <tr th:each = "store : ${searchList}">
        <div th:replace="~{store/store_list::store-content}"></div>
    </tr>
</div>

</body>
<div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
</html>