@font-face {
  font-family : 'NanumSquareOTF_acB';
  src : url(/font/NanumSquareOTF_acB.otf)
}

@font-face {
  font-family : 'NanumSquareOTF_acR';
  src : url(/font/NanumSquareOTF_acR.otf)
}

html, body {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F5F5F5;
    margin-top: 8.8rem;
    padding-bottom: 10rem;
}

.store-list{
    margin-top:23%;
}